<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                Nacho
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="" data-color="">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="" target="_blank" [routerLink]="['/examples/login']">
                      <i class="now-ui-icons users_circle-08"></i>
                      <p>Sign In</p>
                  </a>
              </li>
                
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">
                        <i class="now-ui-icons arrows-1_share-66"></i>
                        <p>Upgrade to Premium</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
